*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #4472c4;
    position: relative;
}
.container{
    margin-top: 10%;
    display: flex;
    width: 100%;
    height: 20vh;
}

.php{
    margin-left: 1%;
    color: white;
    font-size: 200%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
a{
    text-decoration-line: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 90%;
    color: whitesmoke;
    
}
.left{
    margin-top: 2vh;
    margin-left: 50px;
    
}
.clock{
    margin-left: 42%;
    background-color: #bed3f0;
    width: 40%;
    height: 20%;
    border: 0.01rem black solid;
    font-size: 200%;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    float: left;
    width: 20vw;
    height: 10vh;
    padding-top: 4%;
    padding-right: 6%;
}

.middle{
    margin-top: 20%;
    margin-left: 13%;
}

.file{
    background-color: #bed3f0;
    width: 40%;
    height: 20%;
    border: 0.01rem black solid;
    font-size: 200%;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    float: left;
    width: 27vw;
    height: 10vh;
    padding-top: 4%;
    padding-right: 6%;
    padding-left: 6%;
}

.right{
    margin-top: 2vh;
    margin-left: 3%;
}

.tTable{
    margin-left: 15%;
    background-color: #bed3f0;
    width: 40%;
    height: 20%;
    border: 0.01rem black solid;
    font-size: 200%;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    float: left;
    width: 20vw;
    height: 10vh;
    padding-top: 4%;
    padding-right: 6%;

}