*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #4472c4;
    position: relative;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

h2{
    color: white;
    font-size: 250%;
    margin-bottom: 2%;
    margin-right: 64%;
}
h1{
    font-weight: bold;
    margin-right: 60%;
    color: white;
    font-size: 170%;
}

img{
    float: right;
    max-height: 100%;
    max-width: 100%;
}
.container{
    margin-top: 0%;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
}
.usr{
    padding: 1%;
    margin-bottom: 3%;
    width: 65%;
    font-size: larger;
    background-color: #bed3f0;
    border-color: #bed3f0;
}

.pass{
    padding: 1%;
    margin-bottom: 3%;
    width: 65%;
    font-size: larger;
    background-color: #bed3f0;
    border-color: #bed3f0;

}

.btn{
    border-radius: 14%;
    background-color: #bed3f0;
    width: 20%;
    height: 10%;
    color:#4472c4;
    border: 0.2rem black solid;
    border-radius: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 300%;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    cursor: pointer;
}

.images{
    float:right;
    max-width: 50%;
    max-width: 50%;
}

.phpcode{
    padding-top: 1%;
    color: #990000;
    font-size: large;
    font-weight: bold;
}